@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primaryColor: #90caf9;
$primaryLightColor: #c3fdff;
$primaryDarkColor: #5d99c6;
$secondaryColor: #e3f2fd;
$secondaryLightColor: #ffffff;
$secondaryDarkColor: #b1bfca;
$primaryTextColor: #212121;
$secondaryTextColor: #263238;
$deletebackgroundcolor: #fd4545;
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $secondaryDarkColor;
  height: 100%;
  overflow-x: hidden;
}
.home_page_content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .home_title {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: $primaryColor;
    padding: 1rem 0rem 2rem 0rem;
    position: absolute;
    h1 {
      margin-left: 0.5rem;
    }
    img {
      width: 50px;
    }
  }
  .add_button {
    button {
      background-color: transparent;
      border: none;
      svg {
        position: absolute;
        right: -0.1rem;
        top: -0.1rem;
        background-color: $primaryColor;
        padding: 0.5rem;
        border-bottom-left-radius: 0.7rem;
        border: 0.1rem solid $primaryTextColor;
        transition: 0.3s;
      }
      svg:hover {
        padding: 1rem;
        background-color: $primaryDarkColor;
        transition: 0.3s;
      }
    }
  }
  .mini_nav_area {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $secondaryLightColor;
    padding: 1rem;
    width: 80vw;
    z-index: 3;
    position: relative;
    top: 2.5rem;
    .mini_nav_item {
      a {
        text-decoration: none;
        background-color: $secondaryColor;
        color: $secondaryTextColor;
        font-weight: 700;
        padding: 0.5rem 1rem;
        transition: 0.3s;
        border-radius: 0.1rem;
      }
      a:hover {
        background-color: $secondaryDarkColor;
        transition: 0.3s;
        padding: 0.5rem 2rem;
      }
    }
  }
  .home_main_content {
    width: 85vw;
    position: relative;
    background-color: $primaryDarkColor;
    top: 1rem;
    padding: 3rem 1rem;
    height: 100%;
    table {
      border-collapse: collapse;
      width: 100%;
      tr {
        background-color: $secondaryDarkColor;
        th {
          padding: 0.25rem;
          border: 0.1rem solid $secondaryTextColor;
        }
        td {
          border: 0.1rem solid $secondaryTextColor;
          padding: 0.25rem;
          a {
            width: 100%;
            input {
              width: 100%;
              border: none;
            }
          }
          button {
            width: 100%;
            height: 100%;
            border: none;
            cursor: pointer;
          }
          form {
            button {
              background-color: red;
            }
          }
        }
      }
      tr:nth-child(even) {
        background-color: $secondaryLightColor;
      }
    }
  }
}
.none {
  display: none;
}
.new_link_form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba($color: #90caf9, $alpha: 0.8);
  width: 100%;
  height: 100vh;
  svg {
    position: absolute;
    right: -0.1rem;
    top: -0.1rem;
    background-color: $primaryColor;
    padding: 0.5rem;
    border-bottom-left-radius: 0.7rem;
    border: 0.1rem solid $primaryTextColor;
    transition: 0.3s;
  }
  svg:hover {
    padding: 1rem;
    background-color: $primaryDarkColor;
    transition: 0.3s;
  }
  form {
    background-color: $primaryColor;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    input {
      background-color: $primaryLightColor;
      padding: 0.5rem;
      border: 0.1rem solid $primaryTextColor;
      border-radius: 0.25rem;
    }
    input::placeholder {
      color: $primaryTextColor;
    }
    .click_count_check {
      padding: 0.2rem 0;
    }
    button {
      background-color: $primaryLightColor;
      border: 0.1rem solid $primaryTextColor;
      border-radius: 0.25rem;
      width: 100%;
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }
}
footer {
  position: absolute;
  bottom: 0px;
  height: 10vh;
  width: 100%;
  background-color: $primaryColor;
  .settings {
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      background-color: transparent;
      border: none;
      svg {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem;
        border-top: 0.1rem solid $primaryTextColor;
        border-left: 0.1rem solid $primaryTextColor;
        border-top-left-radius: 0.7rem;
        transition: 0.3s;
        cursor: pointer;
      }
      svg:hover {
        transition: 0.3s;
        padding: 1rem;
        background-color: $primaryDarkColor;
      }
    }
    span {
      position: absolute;
      visibility: hidden;
      border: 0.1rem solid $primaryTextColor;
      padding: 0.25rem;
      background-color: $primaryColor;
      right: 0.1rem;
      bottom: 4rem;
      width: 130px;
    }
  }
  .settings:hover {
    span {
      visibility: visible;
    }
  }
}
