@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primaryColor: #90caf9;
$primaryLightColor: #c3fdff;
$primaryDarkColor: #5d99c6;
$secondaryColor: #e3f2fd;
$secondaryLightColor: #ffffff;
$secondaryDarkColor: #b1bfca;
$primaryTextColor: #212121;
$secondaryTextColor: #263238;
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $secondaryDarkColor;
}
.home_page_content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .home_title {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: $primaryColor;
    padding: 1rem 0rem 2rem 0rem;
    position: absolute;
    h1 {
      margin-left: 0.5rem;
    }
    svg {
      font-size: 30px;
    }
  }
  .mini_nav_area {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $secondaryLightColor;
    padding: 1rem;
    width: 80vw;
    // z-index: 2;
    position: relative;
    top: 4rem;
    .mini_nav_item {
      a {
        text-decoration: none;
        background-color: $secondaryColor;
        color: $secondaryTextColor;
        font-weight: 700;
        padding: 0.5rem 1rem;
        transition: 0.3s;
        border-radius: 0.1rem;
      }
      a:hover {
        background-color: $secondaryDarkColor;
        transition: 0.3s;
        padding: 0.5rem 2rem;
      }
    }
  }
}
